h1,h2{
  text-transform: capitalize;
}
hr{
  margin-bottom: 5%;
}
button{
  width:30%;
  margin-bottom:0.5rem;
}
p{
  font-size: 40%;
}

#poke-ball{
  margin: 0 auto;
  width: 13rem;
}

.hinge{
  width: 50%;
  background-color: red;
  border-radius: 10%;
  border: 0.5rem solid black;
  margin-left: 1.5rem;
  position: relative;
  margin: 0 auto;
}
.guessDiv{
  display:inline-block;
  right:0;
  font-size: 4.5rem;

}
.ImgLarge{
  width: 200%;
}

.pic-div{
  padding: 0 auto;
}
.pokeDexStyle{
  border: 2rem solid red;
  background-color: skyblue;
  text-align: center;
  height: 30%;
  width: 50%;
  position: relative;
  margin: 0 auto;

}
.container{
  margin: 0 auto;
  text-align: center;
  background-color: grey;

}
