h1,h2{
  text-transform: capitalize;
}
hr{
  margin-bottom: 5%;
}
button{
  width:30%;
  margin-bottom:0.5rem;
}
#poke-ball{
  margin: 0 auto;
}

.ImgLarge{
  width: 200%;
}

.pic-div{
  padding: 0 auto;
}
p{
  font-size: 40%;
}
