h1,h2{
  text-transform: capitalize;
}

p{
  font-size: 40%;
}
body{
  font-family: Rubik;
}
button{
  height: 4rem;
  font-size: x-large;
}

#pokeID{
  height: 3rem;
}
#game-div button{
  border-radius: 3rem;
  width: 20%;
  margin: 0.3rem 0.3rem;
  height: 12%;
  font-size: 2rem;
}
#game-div{
  height: auto;
}


#lucky-div button{
  width:30%;
  margin-bottom:0.5rem;
  height: 3rem;
  font-size: 2rem;
}
#game-div hr, #lucky-div hr{
  margin-bottom: 5%;
}
#poke-ball{
  margin: 0 auto;
  width: 27rem;

}

.hinge{
  background-color: red;
  border-radius: 3rem;
  border: 0.5rem solid black;
  height: 2rem;
}
.guessDiv{
  display:inline-block;
  right:0;
  font-size: 4.5rem;

}
.ImgLarge{
  width: 200%;
}

.pic-div{
  padding: 0 auto;
}
.pokeDexStyle{
  border: 2rem solid red;
  background-color: skyblue;
  text-align: center;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.pokeDexStyle2{
  border: 2rem solid red;
  background-color: skyblue;
  text-align: center;
  height: auto;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.backDrop{
  text-align: center;
  background-color: grey;
}
